<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columns</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <!-- Vertical -->
    <div class="container">
        <div class="row bg-info align-items-center" style="height: 300px;">
            <div class="col-4 align-self-start">
                First
            </div>
            <div class="col-4 align-self-end">
                Second
            </div>
            <div class="col-4 align-self-center">
                Third
            </div>
        </div>
    </div>

    <!-- Horizonta -->
    <div class="container my-4">
        <div class="row justify-content-around">
            <div class="col-4 bg-warning">
                First
            </div>
            <div class="col-4 bg-info">
                Second
            </div>
        </div>
    </div>

    <!-- Order -->
    <div class="container my-4">
        <div class="row">
            <div class="col-4 bg-warning order-5 order-md-last">
                Order First
            </div>
            <div class="col-4 bg-info">
                Order Second
            </div>
            <div class="col-4 bg-danger order-1 order-md-first">
                Order Third
            </div>
        </div>
    </div>

    <!-- Offset -->
    <div class="container my-4">
        <div class="row">
            <div class="col-4 bg-warning">
                Offset First
            </div>
            <div class="col-4 bg-info offset-4">
                Offset Second
            </div>
        </div>
    </div>

    <!-- Margin -->
    <div class="container my-4">
        <div class="row">
            <div class="col-4 bg-warning">
                Margin First
            </div>
            <div class="col-4 bg-info me-lg-auto ms-md-auto">
                Margin Second
            </div>
        </div>
    </div>

    <!-- Clearfix -->
    <div class="clearfix my-4">
        <img src="../Images/hero-img.png" class="col-md-4 img-fluid float-end" />
        <p>123</p>
        <p>123</p>
        <p>123</p>
        <p>123</p>
    </div>


    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>