<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-6 bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col-6 bg-primary border border-2 border-dark">
                Col
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-6 bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col-sm-6 bg-primary border border-2 border-dark">
                Col
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-xxl-2 col-xl-4 col-sm-1 bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col-xxl col-xl-4 col-sm-10 bg-primary border border-2 border-dark">
                Col
            </div>
            <div class="col-xxl-7 col-xl-4 col-sm-1 bg-primary border border-2 border-dark">
                Col
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row row-cols-2">
            <div class="col bg-primary border border-2 border-dark">
                Col1
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col2
            </div>
            <div class="col bg-primary border border-2 border-dark">
                Col3
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Title</h1>
                <p>Text</p>
            </div>
            <div class="col-md-4">
                <img src="../Images/hero-img.png" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="../Images/hero-img.png" class="img-fluid border border-5">
            </div>
            <div class="col-md-8 text-center">
                <p class="bg-info">Title</p>
                <div class="row">
                    <div class="col-sm-6 bg-warning">
                        Text1
                    </div>
                    <div class="col-sm-6 bg-info">
                        Text2
                    </div>
                    <div class="col-sm-6 bg-danger">
                        Text3
                    </div>
                    <div class="col-sm-6 bg-secondary">
                        Text4
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>